# Python环境
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 环境变量
.env

# 输出文件
output/*
!output/.gitkeep

# IDE文件
.idea/
.vscode/
*.swp
*.swo